<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Home Page</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
	<h1>Pan' Spring Boot Project</h1>
	<table border="1" class="table table-striped table-responsive-md">
		<thead>
		<tr>
			<th>Feature</th>
			<th>Describe</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><a th:href = "@{/viewTestPage}"> Test</a></td>
			<th>just for test</th>
		</tr>
		<tr>
			<td><a th:href = "@{/employee}"> Employee</a></td>
			<th>check the employees</th>
		</tr>
		<tr>
			<td><a th:href = "@{/viewBankPage}"> Bank</a></td>
			<th>bank application</th>
		</tr>
		<tr>
			<td><a th:href = "@{/}"> none</a></td>
			<th>nothing here</th>
		</tr>
		</tbody>
	</table>
</div>
</body>

</html>
