<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Management System for Bank</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>User Management System for Bank</h1>
    <hr>
    <h3>Funds:</h3>
    <form action="#" th:action="@{/bank/user/depositFunds}" th:object="${user}"
          method="POST">
        <input type="hidden" th:field="*{accountNumber}" />
        <input type="hidden" th:field="*{firstName}" />
        <input type="hidden" th:field="*{lastName}" />
        <input type="hidden" th:field="*{balance}" />
        <input type="hidden" th:field="*{phone}" />
        <input type="hidden" th:field="*{email}" />
        <input type="text" name="funds"
               placeholder="Enter the amount here"
               class="form-control mb-6 col-6">
        It should > 5 and < 10000, if input is invalid, it will back to this
        page.
        <br> <br>
        <button type="submit" class="btn btn-info col-2">Deposit</button>
    </form>
    <hr>

    <a th:href = "@{/viewBankPage}"> Back to User List</a>
</div>
</body>
</html>